@model DimensionData.Models.Employee

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DetailsId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DetailsId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EducationId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EducationId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SurveryId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SurveryId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HistoryId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HistoryId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PercentSalaryHike)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PercentSalaryHike)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockOptionLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockOptionLevel)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EmployeeNumber">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
